<app-header></app-header>
<app-breadcrumb></app-breadcrumb>
<!--====== SHOP SECTION START ======-->
<section class="Shop-section pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Shop Sidebar -->
            <div class="col-lg-4 col-md-10 col-sm-10">
                <app-shopsidebar></app-shopsidebar>
            </div>
            <div class="col-lg-8 col-md-10">
                <div class="shop-products-wrapper">
                    <div class="shop-product-top">
                        <p>Showing 1 To 9 Of 60 results</p>
                        <div class="sorting-box">
                            <select name="guests" id="guests" nice-select>
                                <option value="" disabled selected>Default Sorting</option>
                                <option value="1">Sort By Popularity</option>
                                <option value="2">Sort By Latest</option>
                                <option value="4">Sort By Rating</option>
                                <option value="8">Sort By Price:Low to High</option>
                                <option value="8">Sort By Price:High to Low</option>
                            </select>
                        </div>
                    </div>
                    <div class="product-wrapper restaurant-tab-area">
                        <div class="row">
                            <div class="col-lg-4 col-md-6" *ngFor="let shopgrid of shopgridpost">
                                <div class="food-box shop-box">
                                    <div class="thumb">
                                        <img src="{{shopgrid.img}}" alt="images">
                                        <div class="badges">
                                            <span class="price" *ngIf="shopgrid.tag">{{shopgrid.tag}}</span>
                                            <span class="price discounted" *ngIf="shopgrid.tag1">{{shopgrid.tag1}}</span>
                                        </div>
                                        <div class="button-group">
                                            <a href="#"><i class="far fa-heart"></i></a>
                                            <a href="#"><i class="far fa-sync-alt"></i></a>
                                            <a href="#" data-toggle="modal" data-target="#quickViewModal"><i class="far fa-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <h4>
                                            <a routerLink='/shop-detail'>{{shopgrid.title}}</a>
                                        </h4>
                                        <span class="price">${{shopgrid.price}} <span>${{shopgrid.discountprice}}</span></span>
                                        <a routerLink='/shop-detail' class="link"><i class="fal fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-wrap">
                    <app-pagination></app-pagination>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== SHOP SECTION END ======-->
<!--====== INSTAGRAM FEED PART START ======-->
<app-instafeeds></app-instafeeds>
<!--====== INSTAGRAM FEED PART END ======-->
<app-footerthree></app-footerthree>