<app-header></app-header>
<app-breadcrumb></app-breadcrumb>
<!--====== GALLERY START ======-->
<div class="gallery-wrappper pt-120 pb-120">
    <div class="container">
        <div class="gallery-loop columns-3">
            <div class="single-gallery-image wow fadeInUp" data-wow-delay=".3s" *ngFor="let gallerypost of galleryposts">
                <a href="{{gallerypost.img}}" class="popup-image">
                    <img src="{{gallerypost.img}}" alt="Images">
                </a>
            </div>
        </div>
    </div>
</div>
<!--====== GALLERY END ======-->
<!--====== INSTAGRAM FEED PART START ======-->
<app-instafeeds></app-instafeeds>
<!--====== INSTAGRAM FEED PART END ======-->
<app-footerthree></app-footerthree>