<header class="header-three header-absolute sticky-header sigma-header" id="header">
    <div class="header-top">
        <div class="container-fluid container-custom-three">
            <div class="d-md-flex align-items-center justify-content-between">
                <p class="welcome-text">Free Shipping On All Domestic Orders</p>
                <ul class="header-top-info">
                    <li>
                        <i class="fal fa-Clock"> </i> Mon - Sat 9.00 - 18.00
                    </li>
                    <li>
                        <i class="fal fa-Clock"> </i> Mon - Sat 9.00 - 18.00
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-menu-area sticky-header">
        <div class="container-fluid container-custom-three">
            <div class="nav-container d-flex align-items-center justify-content-between">
                <!-- Site Logo -->
                <div class="site-logo site-logo-text">
                    <a routerLink='/'>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="45" height="45" x="0" y="0" viewBox="0 0 512 512" xml:space="preserve" class="">
                          <path d="M369.853,250.251l-100-241C267.53,3.65,262.062,0,255.999,0s-11.531,3.65-13.854,9.251l-100,241    c-1.527,3.681-1.527,7.817,0,11.498l100,241c2.323,5.601,7.791,9.251,13.854,9.251s11.531-3.65,13.854-9.251l100-241    C371.381,258.068,371.381,253.932,369.853,250.251z M255.999,457.861L172.239,256l83.76-201.861L339.759,256L255.999,457.861z" fill="#ffffff" />
                          <path class="diamond-spark spark-1" d="M139.606,118.393l-63-63c-5.858-5.857-15.356-5.857-21.213,0c-5.858,5.858-5.858,15.356,0,21.213l63,63    c2.928,2.929,6.767,4.394,10.606,4.394s7.678-1.465,10.607-4.394C145.465,133.748,145.465,124.25,139.606,118.393z" fill="#ffffff" />
                          <path class="diamond-spark spark-2" d="M456.607,55.393c-5.858-5.857-15.356-5.857-21.213,0l-63,63c-5.858,5.858-5.858,15.356,0,21.213    c2.928,2.929,6.767,4.394,10.606,4.394s7.678-1.465,10.607-4.394l63-63C462.465,70.748,462.465,61.25,456.607,55.393z" fill="#ffffff" />
                          <path class="diamond-spark spark-3" d="M139.606,372.393c-5.858-5.857-15.356-5.857-21.213,0l-63,63c-5.858,5.858-5.858,15.356,0,21.213    C58.322,459.535,62.16,461,65.999,461s7.678-1.465,10.607-4.394l63-63C145.465,387.748,145.465,378.25,139.606,372.393z" fill="#ffffff" />
                          <path class="diamond-spark spark-4" d="M456.607,435.393l-63-63c-5.858-5.857-15.356-5.857-21.213,0c-5.858,5.858-5.858,15.356,0,21.213l63,63    c2.928,2.929,6.767,4.394,10.606,4.394s7.678-1.465,10.607-4.394C462.465,450.748,462.465,441.25,456.607,435.393z" fill="#ffffff" />
                      </svg>
                        <div class="site-logo-text">
                            <h3>Laramiss</h3>
                            <h6>Luxury Pieces</h6>
                        </div>
                    </a>
                </div>
                <!-- Main Menu -->
                <div class="nav-menu d-lg-flex align-items-center justify-content-between">
                    <!-- Navbar Close Icon -->
                    <div class="navbar-close">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Mneu Items -->
                    <div class="sigma-header-nav">
                        <div class="container">
                            <div class="sigma-header-nav-inner">
                                <nav>
                                    <ul class="sigma-main-menu">
                                        <li class="menu-item menu-item-has-children">
                                            <a href="#">
                                              Home
                                          </a>
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a routerLink='/'>Home 1</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a routerLink='/home-two'>Home 2</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a routerLink='/home-three'>Home 3</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a routerLink='/home-four'>Home 4</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children menu-item-has-megamenu">
                                            <a href="#">
                                              Categories
                                          </a>
                                            <div class="sub-menu">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-lg-3">
                                                            <ul class="sigm-megamenu-nav nav nav-tabs">
                                                                <li class="nav-item">
                                                                    <a href="#tab1" class="nav-link active" data-toggle="tab"><i class="fal fa-female"></i> Rings</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a href="#tab2" class="nav-link" data-toggle="tab"><i class="fal fa-user"></i> Earrings</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a href="#tab3" class="nav-link" data-toggle="tab"><i class="fal fa-baby"></i> Bracelets</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a href="#tab4" class="nav-link" data-toggle="tab"><i class="fal fa-suitcase-rolling"></i> Pendants</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a href="#tab5" class="nav-link" data-toggle="tab"><i class="fal fa-badge-check"></i> Necklaces</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-lg-9">
                                                            <div class="tab-content">
                                                                <div class="tab-item show active" id="tab1">
                                                                    <div class="row">
                                                                        <div class="col-lg-4">
                                                                            <div class="sigma-megamenu-navbox menu-item-has-children">
                                                                                <h5 class="sigma-title">Shop Pages</h5>
                                                                                <ul class="sub-menu">
                                                                                    <li class="menu-item">
                                                                                        <a routerLink='/shop-left'>Shop Left Sidebar</a>
                                                                                    </li>
                                                                                    <li class="menu-item">
                                                                                        <a routerLink='/shop-left-two'>Shop Left Sidebar v2</a>
                                                                                    </li>
                                                                                    <li class="menu-item">
                                                                                        <a routerLink='/shop-right'>Shop Right Sidebar</a>
                                                                                    </li>
                                                                                    <li class="menu-item">
                                                                                        <a routerLink='/shop-right-two'>Shop Right Sidebar v2</a>
                                                                                    </li>
                                                                                    <li class="menu-item">
                                                                                        <a routerLink='/shop-detail'>Product Details</a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <div class="sigma-megamenu-navbox menu-item-has-children">
                                                                                <h5 class="sigma-title">Other Shop Pages</h5>
                                                                                <ul class="sub-menu">
                                                                                    <li class="menu-item">
                                                                                        <a routerLink='/account'>My Account</a>
                                                                                    </li>
                                                                                    <li class="menu-item">
                                                                                        <a routerLink='/checkout'>Checkout</a>
                                                                                    </li>
                                                                                    <li class="menu-item">
                                                                                        <a routerLink='/wishlist'>Wishlist</a>
                                                                                    </li>
                                                                                    <li class="menu-item">
                                                                                        <a routerLink='/cart'>Cart</a>
                                                                                    </li>
                                                                                    <li class="menu-item">
                                                                                        <a routerLink='/login'>Login</a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <div class="sigma-megamenu-img">
                                                                                <a href="#">
                                                                                    <img src="assets/img/others/01.png" alt="img">
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-item" id="tab2">
                                                                    <div class="row">
                                                                        <div class="col-lg-3">
                                                                            <div class="sigma-megamenu-navbox menu-item-has-children">
                                                                                <h5 class="sigma-title">Type Of Earrings</h5>
                                                                                <ul class="sub-menu">
                                                                                    <li class="menu-item">
                                                                                        <a routerLink='/shop-left'>Ruby Earrings</a>
                                                                                    </li>
                                                                                    <li class="menu-item">
                                                                                        <a routerLink='/shop-left-two'>Emareld Earrings</a>
                                                                                    </li>
                                                                                    <li class="menu-item">
                                                                                        <a routerLink='/shop-left'>Saphire Earrings</a>
                                                                                    </li>
                                                                                    <li class="menu-item">
                                                                                        <a routerLink='/shop-left-two'>Diamond Earrings</a>
                                                                                    </li>
                                                                                    <li class="menu-item">
                                                                                        <a routerLink='/shop-left'>Gold Earrings</a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-5">
                                                                            <div class="sigma-megamenu-navbox">
                                                                                <h5 class="sigma-title">Size</h5>
                                                                                <div class="row mb-3">
                                                                                    <div class="col-md-6 menu-item-has-children">
                                                                                        <ul class="sub-menu">
                                                                                            <li class="menu-item">
                                                                                                <a routerLink='/shop-left'>Hoop Earrings</a>
                                                                                            </li>
                                                                                            <li class="menu-item">
                                                                                                <a routerLink='/shop-left-two'>Dangle Earrings</a>
                                                                                            </li>
                                                                                            <li class="menu-item">
                                                                                                <a routerLink='/shop-left'>Stud Earrings</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                    <div class="col-md-6 menu-item-has-children">
                                                                                        <ul class="sub-menu">
                                                                                            <li class="menu-item">
                                                                                                <a routerLink='/shop-left-two'>Barbell Earrings</a>
                                                                                            </li>
                                                                                            <li class="menu-item">
                                                                                                <a routerLink='/shop-left'>Huggy Earrings</a>
                                                                                            </li>
                                                                                            <li class="menu-item">
                                                                                                <a routerLink='/shop-left-two'>Ear Thread Earrings</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                                <h5 class="sigma-title">Top Picks</h5>
                                                                                <div class="row">
                                                                                    <div class="col-md-6 menu-item-has-children">
                                                                                        <ul class="sub-menu">
                                                                                            <li class="menu-item">
                                                                                                <a routerLink='/shop-detail'>Jiara Blessing</a>
                                                                                            </li>
                                                                                            <li class="menu-item">
                                                                                                <a routerLink='/shop-detail'>Hentry Firana</a>
                                                                                            </li>
                                                                                            <li class="menu-item">
                                                                                                <a routerLink='/shop-detail'>Lucrative Li</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                    <div class="col-md-6 menu-item-has-children">
                                                                                        <ul class="sub-menu">
                                                                                            <li class="menu-item">
                                                                                                <a routerLink='/shop-detail'>Mirana Go</a>
                                                                                            </li>
                                                                                            <li class="menu-item">
                                                                                                <a routerLink='/shop-detail'>Fira Diamond Ring</a>
                                                                                            </li>
                                                                                            <li class="menu-item">
                                                                                                <a routerLink='/shop-detail'>Fanir Lo</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <div class="sigma-megamenu-img">
                                                                                <a href="#">
                                                                                    <img src="assets/img/others/02.png" alt="img">
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-item" id="tab3">
                                                                    <div class="row">
                                                                        <div class="col-lg-8">
                                                                            <div class="sigma-megamenu-navbox">
                                                                                <h5 class="sigma-title">Type Of Earrings</h5>
                                                                                <div class="row">
                                                                                    <div class="col-md-3">
                                                                                        <div class="sigma-megamenu-image">
                                                                                            <a routerLink='/shop-left'>
                                                                                                <img src="assets/img/others/b-1.png" alt="img">
                                                                                                <span>Ruby</span>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-3">
                                                                                        <div class="sigma-megamenu-image">
                                                                                            <a routerLink='/shop-left'>
                                                                                                <img src="assets/img/others/b-2.png" alt="img">
                                                                                                <span>Emarald</span>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-3">
                                                                                        <div class="sigma-megamenu-image">
                                                                                            <a routerLink='/shop-left-two'>
                                                                                                <img src="assets/img/others/b-3.png" alt="img">
                                                                                                <span>Saphire</span>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-3">
                                                                                        <div class="sigma-megamenu-image">
                                                                                            <a routerLink='/shop-left'>
                                                                                                <img src="assets/img/others/b-4.png" alt="img">
                                                                                                <span>Diamond</span>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-3">
                                                                                        <div class="sigma-megamenu-image">
                                                                                            <a routerLink='/shop-left-two'>
                                                                                                <img src="assets/img/others/b-5.png" alt="img">
                                                                                                <span>Topaz</span>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-3">
                                                                                        <div class="sigma-megamenu-image">
                                                                                            <a routerLink='/shop-left'>
                                                                                                <img src="assets/img/others/b-6.png" alt="img">
                                                                                                <span>Amber</span>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-3">
                                                                                        <div class="sigma-megamenu-image">
                                                                                            <a routerLink='/shop-left-two'>
                                                                                                <img src="assets/img/others/b-7.png" alt="img">
                                                                                                <span>Gold</span>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-3">
                                                                                        <div class="sigma-megamenu-image">
                                                                                            <a routerLink='/shop-left'>
                                                                                                <img src="assets/img/others/b-8.png" alt="img">
                                                                                                <span>Silver</span>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <div class="sigma-megamenu-navbox">
                                                                                <h5 class="sigma-title">Top picks</h5>
                                                                                <div class="row mb-4">
                                                                                    <div class="col-md-6 menu-item-has-children">
                                                                                        <ul class="sub-menu">
                                                                                            <li class="menu-item">
                                                                                                <a routerLink='/shop-detail'>Jiara Blessing</a>
                                                                                            </li>
                                                                                            <li class="menu-item">
                                                                                                <a routerLink='/shop-detail'>Hentry Firana</a>
                                                                                            </li>
                                                                                            <li class="menu-item">
                                                                                                <a routerLink='/shop-detail'>Lucrative Li</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                    <div class="col-md-6 menu-item-has-children">
                                                                                        <ul class="sub-menu">
                                                                                            <li class="menu-item">
                                                                                                <a routerLink='/shop-detail'>Mirana Go</a>
                                                                                            </li>
                                                                                            <li class="menu-item">
                                                                                                <a routerLink='/shop-detail'>Fira Diamond Ring</a>
                                                                                            </li>
                                                                                            <li class="menu-item">
                                                                                                <a routerLink='/shop-detail'>Fanir Lo</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                                <h5 class="sigma-title">Shape</h5>
                                                                                <div class="row">
                                                                                    <div class="col-md-12 menu-item-has-children">
                                                                                        <ul class="sub-menu">
                                                                                            <li class="menu-item">
                                                                                                <a routerLink='/shop-detail'>Lira Jo</a>
                                                                                            </li>
                                                                                            <li class="menu-item">
                                                                                                <a routerLink='/shop-detail'>Fandi Hambi</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-item" id="tab4">
                                                                    <div class="row">
                                                                        <div class="col-lg-8">
                                                                            <div class="sigma-megamenu-navbox">
                                                                                <h5 class="sigma-title">Pendants Articles <a routerLink='/blog-grid'>View All</a></h5>
                                                                                <div class="row">
                                                                                    <div class="col-md-3">
                                                                                        <div class="sigma-blog-block">
                                                                                            <img src="assets/img/others/news-1.png" alt="img">
                                                                                            <p>Gold Pendants </p>
                                                                                            <a routerLink='/blog-detail'>View Post</a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-3">
                                                                                        <div class="sigma-blog-block">
                                                                                            <img src="assets/img/others/news-2.png" alt="img">
                                                                                            <p>Gold Pendants </p>
                                                                                            <a routerLink='/blog-detail'>View Post</a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-3">
                                                                                        <div class="sigma-blog-block">
                                                                                            <img src="assets/img/others/news-3.png" alt="img">
                                                                                            <p>Gold Pendants </p>
                                                                                            <a routerLink='/blog-detail'>View Post</a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-3">
                                                                                        <div class="sigma-blog-block">
                                                                                            <img src="assets/img/others/news-4.png" alt="img">
                                                                                            <p>Gold Pendants </p>
                                                                                            <a routerLink='/blog-detail'>View Post</a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <div class="sigma-megamenu-navbox menu-item-has-children">
                                                                                <h5 class="sigma-title">Collections</h5>
                                                                                <ul class="sub-menu">
                                                                                    <li class="menu-item">
                                                                                        <a routerLink='/blog-detail'>Vivamus suscipit tortor eget</a>
                                                                                    </li>
                                                                                    <li class="menu-item">
                                                                                        <a routerLink='/blog-detail'>Vivamus suscipit tortor eget</a>
                                                                                    </li>
                                                                                    <li class="menu-item">
                                                                                        <a routerLink='/blog-detail'>Vivamus suscipit tortor eget</a>
                                                                                    </li>
                                                                                    <li class="menu-item">
                                                                                        <a routerLink='/blog-detail'>Vivamus suscipit tortor eget</a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-item" id="tab5">
                                                                    <div class="row justify-content-center">
                                                                        <div class="col">
                                                                            <div class="sigma-megamenu-img">
                                                                                <a href="#">
                                                                                    <img src="assets/img/others/a-1.png" alt="img">
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col">
                                                                            <div class="sigma-megamenu-img">
                                                                                <a href="#">
                                                                                    <img src="assets/img/others/a-2.png" alt="img">
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col">
                                                                            <div class="sigma-megamenu-img">
                                                                                <a href="#">
                                                                                    <img src="assets/img/others/a-3.png" alt="img">
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col">
                                                                            <div class="sigma-megamenu-img">
                                                                                <a href="#">
                                                                                    <img src="assets/img/others/a-4.png" alt="img">
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col">
                                                                            <div class="sigma-megamenu-img">
                                                                                <a href="#">
                                                                                    <img src="assets/img/others/a-5.png" alt="img">
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="menu-item">
                                            <a routerLink='/shop-left'>
                                              Diamond
                                          </a>
                                        </li>
                                        <li class="menu-item menu-item-has-children">
                                            <a href="#">
                                              Blog
                                          </a>
                                            <ul class="sub-menu">
                                                <li class="menu-item"> <a routerLink='/blog-grid-sidebar'>Blog Grid Sidebar</a>
                                                </li>
                                                <li class="menu-item"> <a routerLink='/blog-detail'>Blog Details</a>
                                                </li>
                                                <li class="menu-item"> <a routerLink='/blog-grid'>Blog Grid</a>
                                                </li>
                                                <li class="menu-item"> <a routerLink='/blog-list'>Blog List</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children">
                                            <a href="#">
                                              Pages
                                          </a>
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a routerLink='/about'>About</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a routerLink='/classification'>Classification</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a routerLink='/account'>Account</a>
                                                </li>
                                                <li class="menu-item menu-item-has-children">
                                                    <a routerLink='/gallery'>Gallery</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item">
                                                            <a routerLink='/gallery'>Gallery 2 Columns</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a routerLink='/gallery-two'>Gallery 3 Columns</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item">
                                                    <a routerLink='/team'>Team</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a routerLink='/typography'>Typography</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a routerLink='/error'>Error 404</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a routerLink='/coming-soon'>Coming Soon</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children">
                                            <a routerLink='/about'>
                                              Shop
                                          </a>
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a routerLink='/shop-left'>Shop Left Sidebar</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a routerLink='/shop-left-two'>Shop Left Sidebar v2</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a routerLink='/shop-right'>Shop Right Sidebar</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a routerLink='/shop-right-two'>Shop Right Sidebar v2</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a routerLink='/shop-detail'>Product Details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a routerLink='/contact'>
                                              Contact
                                          </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- navbar right content -->
                <div class="menu-right-buttons">
                    <!-- Log in icon -->
                    <div class="login-btn">
                        <a routerLink='/login' id="loginBtn"><i class="fal fa-user"></i></a>
                    </div>
                    <!-- search btton -->
                    <div class="search">
                        <a href="#" class="search-icon" id="searchBtn">
                            <i class="fal fa-search open-icon"></i>
                            <i class="fal fa-times close-icon"></i>
                        </a>
                        <div class="search-form">
                            <form action="#">
                                <input type="text" placeholder="Search your keyword...">
                                <button type="submit"><i class="far fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <!-- Off canvas Toggle -->
                    <div class="toggle">
                        <a href="#" id="offCanvasBtn" (click)="offCanvasBtn()"><i class="fal fa-bars"></i></a>
                    </div>
                    <div class="toggle dropdown-btn">
                        <span class="sigma-notification">0</span>
                        <a href="#" (click)="cartbtn()"><i class="fal fa-shopping-bag"></i></a>
                        <div class="dropdown-menu cart-dropdown-menu" [ngClass]="cartbox ? '' : 'show'">
                            <ul class="cart-items-box">
                                <li class="cart-item" *ngFor="let cartpost of cartposts">
                                    <div class="img">
                                        <img src="{{cartpost.img}}" alt="img">
                                    </div>
                                    <div class="content">
                                        <h5><a href="#">{{cartpost.title}}</a></h5>
                                        <p>{{cartpost.price}}</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="cart-items-box">
                                <div class="cart-item">
                                    <span>Subtotal</span>
                                    <span>20,0000</span>
                                </div>
                                <div class="cart-item actions">
                                    <button type="button" class="main-btn btn-filled">Checkout</button>
                                    <button type="button" class="main-btn btn-borderd">View Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Navbar Toggler -->
                    <div class="navbar-toggler">
                        <span></span><span></span><span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Header Start -->
    <div class="sigma-mobile-header">
        <div class="container">
            <div class="sigma-mobile-header-inner">
                <!-- Site Logo -->
                <div class="site-logo site-logo-text">
                    <a routerLink='/'>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="45" height="45" x="0" y="0" viewBox="0 0 512 512" xml:space="preserve" class="">
                          <path d="M369.853,250.251l-100-241C267.53,3.65,262.062,0,255.999,0s-11.531,3.65-13.854,9.251l-100,241    c-1.527,3.681-1.527,7.817,0,11.498l100,241c2.323,5.601,7.791,9.251,13.854,9.251s11.531-3.65,13.854-9.251l100-241    C371.381,258.068,371.381,253.932,369.853,250.251z M255.999,457.861L172.239,256l83.76-201.861L339.759,256L255.999,457.861z" fill="#ffffff" />
                          <path class="diamond-spark spark-1" d="M139.606,118.393l-63-63c-5.858-5.857-15.356-5.857-21.213,0c-5.858,5.858-5.858,15.356,0,21.213l63,63    c2.928,2.929,6.767,4.394,10.606,4.394s7.678-1.465,10.607-4.394C145.465,133.748,145.465,124.25,139.606,118.393z" fill="#ffffff" />
                          <path class="diamond-spark spark-2" d="M456.607,55.393c-5.858-5.857-15.356-5.857-21.213,0l-63,63c-5.858,5.858-5.858,15.356,0,21.213    c2.928,2.929,6.767,4.394,10.606,4.394s7.678-1.465,10.607-4.394l63-63C462.465,70.748,462.465,61.25,456.607,55.393z" fill="#ffffff" />
                          <path class="diamond-spark spark-3" d="M139.606,372.393c-5.858-5.857-15.356-5.857-21.213,0l-63,63c-5.858,5.858-5.858,15.356,0,21.213    C58.322,459.535,62.16,461,65.999,461s7.678-1.465,10.607-4.394l63-63C145.465,387.748,145.465,378.25,139.606,372.393z" fill="#ffffff" />
                          <path class="diamond-spark spark-4" d="M456.607,435.393l-63-63c-5.858-5.857-15.356-5.857-21.213,0c-5.858,5.858-5.858,15.356,0,21.213l63,63    c2.928,2.929,6.767,4.394,10.606,4.394s7.678-1.465,10.607-4.394C462.465,450.748,462.465,441.25,456.607,435.393z" fill="#ffffff" />
                      </svg>
                        <div class="site-logo-text">
                            <h3>Laramiss</h3>
                            <h6>Luxury Pieces</h6>
                        </div>
                    </a>
                </div>
                <div class="sigma-hamburger-menu" (click)="hamburgerbtn()">
                    <div class="sigma-menu-btn" [ngClass]="navopen ? '' : 'active'">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Header End -->
    <!-- Mobile Menu Start -->
    <aside class="sigma-mobile-menu" [ngClass]="navopen ? '' : 'active'">
        <app-mobilemenu></app-mobilemenu>
    </aside>
    <!-- Mobile Menu End -->
</header>
<div class="offcanvas-wrapper" [ngClass]="opencanvas ? '' : 'show-offcanvas'">
    <div class="offcanvas-overly" [ngClass]="opencanvas ? '' : 'show-overly'" (click)="offCanvasclose()"></div>
    <div class="offcanvas-widget">
        <a href="#" class="offcanvas-close" (click)="offCanvasclose()"><i class="fal fa-times"></i></a>
        <app-canvas></app-canvas>
    </div>
</div>