<!--====== SHOP SECTION START ======-->
<section class="restaurant-tab-area bg-black pt-115 pb-85">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-8 col-sm-7">
                <div class="section-title">
                    <span class="title-tag">Shop</span>
                    <h2>Latest Products</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-5 d-none d-sm-block">
                <div class="shop-post-arrow arrow-style text-right">
                    <div class="slick-arrow prev-arrow"><i class="fal fa-arrow-left"></i></div>
                    <div class="slick-arrow next-arrow"><i class="fal fa-arrow-right"></i></div>
                </div>
            </div>
        </div>
        <ngx-slick-carousel class="row shop-post-slider mt-80" #slickModal="slick-carousel" [config]="shoplatestsliderConfig">
            <div ngxSlickItem class="col-12" *ngFor="let shoplatest of shoplatestposts">
                <div class="food-box shop-box">
                    <div class="thumb">
                        <img src="{{shoplatest.img}}" alt="images">
                        <div class="badges">
                            <span class="price" *ngIf="shoplatest.tag1">{{shoplatest.tag1}}</span>
                            <span class="price discounted" *ngIf="shoplatest.tag2">{{shoplatest.tag2}}</span>
                        </div>
                        <div class="button-group">
                            <a href="#"><i class="far fa-heart"></i></a>
                            <a href="#"><i class="far fa-sync-alt"></i></a>
                            <a href="#"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="desc">
                        <h4>
                            <a routerLink='/shop-detail'>{{shoplatest.title}}</a>
                        </h4>
                        <span class="price" *ngIf="shoplatest.price1">{{shoplatest.price1}} <span *ngIf="shoplatest.price2">{{shoplatest.price2}}</span></span>
                        <a routerLink='/shop-detail' class="link"><i class="fal fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
</section>
<!--====== SHOP SECTION END ======-->