<ul class="sigma-main-menu">
    <li class="menu-item menu-item-has-children">
        <a href="#">
          Home
      </a>
        <ul class="sub-menu">
            <li class="menu-item">
                <a routerLink='/'>Home 1</a>
            </li>
            <li class="menu-item">
                <a routerLink='/home-two'>Home 2</a>
            </li>
            <li class="menu-item">
                <a routerLink='/home-three'>Home 3</a>
            </li>
            <li class="menu-item">
                <a routerLink='/home-four'>Home 4</a>
            </li>
        </ul>
    </li>
    <li class="menu-item menu-item-has-children">
        <a href="#">Shop</a>
        <ul class="sub-menu">
            <li class="menu-item">
                <a routerLink='/shop-left'>Shop Left Sidebar</a>
            </li>
            <li class="menu-item">
                <a routerLink='/shop-left-two'>Shop Left Sidebar v2</a>
            </li>
            <li class="menu-item">
                <a routerLink='/shop-right'>Shop Right Sidebar</a>
            </li>
            <li class="menu-item">
                <a routerLink='/shop-right-two'>Shop Right Sidebar v2</a>
            </li>
            <li class="menu-item">
                <a routerLink='/shop-detail'>Product Details</a>
            </li>
            <li class="menu-item">
                <a routerLink='/account'>My Account</a>
            </li>
            <li class="menu-item">
                <a routerLink='/checkout'>Checkout</a>
            </li>
            <li class="menu-item">
                <a routerLink='/wishlist'>Wishlist</a>
            </li>
            <li class="menu-item">
                <a routerLink='/cart'>Cart</a>
            </li>
            <li class="menu-item">
                <a routerLink='/login'>Login</a>
            </li>
        </ul>
    </li>
    <li class="menu-item menu-item-has-children">
        <a href="#">
          Blog
      </a>
        <ul class="sub-menu">
            <li class="menu-item"> <a routerLink='/blog-grid-sidebar'>Blog Grid Sidebar</a>
            </li>
            <li class="menu-item"> <a routerLink='/blog-detail'>Blog Details</a>
            </li>
            <li class="menu-item"> <a routerLink='/blog-grid'>Blog Grid</a>
            </li>
            <li class="menu-item"> <a routerLink='/blog-list'>Blog List</a>
            </li>
        </ul>
    </li>
    <li class="menu-item menu-item-has-children">
        <a href="#">
          Pages
      </a>
        <ul class="sub-menu">
            <li class="menu-item">
                <a routerLink='/classification'>Classification</a>
            </li>
            <li class="menu-item">
                <a routerLink='/account'>Account</a>
            </li>
            <li class="menu-item">
                <a routerLink='/gallery'>Gallery</a>
            </li>
            <li class="menu-item">
                <a routerLink='/team'>Team</a>
            </li>
            <li class="menu-item">
                <a routerLink='/error'>Error 404</a>
            </li>
            <li class="menu-item">
                <a routerLink='/coming-soon'>Coming Soon</a>
            </li>
            <li class="menu-item">
                <a routerLink='/typography'>Typography</a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a routerLink='/about'>
          About
      </a>
    </li>
    <li class="menu-item">
        <a routerLink='/contact'>
          Contact
      </a>
    </li>
    <li class="menu-item">
        <a routerLink='/shop-left'>
          Diamond
      </a>
    </li>
    <li class="menu-item">
        <a routerLink='/shop-left'>
          Accessories
      </a>
    </li>
</ul>